<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>password</servlet-name>
        <servlet-class>password.password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bupload</servlet-name>
        <servlet-class>bupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_update</servlet-name>
        <servlet-class>get_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>export</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pupload</servlet-name>
        <servlet-class>pupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_pupdate</servlet-name>
        <servlet-class>get_pupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdelete</servlet-name>
        <servlet-class>pdelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pexport</servlet-name>
        <servlet-class>pexport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>password</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bupload</servlet-name>
        <url-pattern>/bupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_update</servlet-name>
        <url-pattern>/get_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pupload</servlet-name>
        <url-pattern>/pupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_pupdate</servlet-name>
        <url-pattern>/get_pupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdelete</servlet-name>
        <url-pattern>/pdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pexport</servlet-name>
        <url-pattern>/pexport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
